.nav {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  position: relative;
  left: -50px;
}

.nav__links {
  display: flex;
  align-items: center;
  list-style-type: none;
  column-gap: 20px;
  padding: 0;
  margin: 0;
}

.nav__link {
  text-decoration: none;
  color: black;
  transition: opacity 0.3s ease;
  cursor: pointer;
}

.nav__link:hover {
  opacity: 0.5;
}



